{% extends 'base.html' %}

{% block title %}Game Room{% endblock %}

{% block content %}

   <div id="player2">Player 2</div>
   <div id="gameboard"></div>
   <div id="player1">Player 1</div>
   <label for="origin-square">Origin square:</label>
   <select id="origin-square" name="origin-square" size="1">
      <option value="a1">a1</option>
      <option value="a2">a2</option>
      <option value="a3">a3</option>
      <option value="a4">a4</option>
      <option value="a5">a5</option>
      <option value="b1">b1</option>
      <option value="b2">b2</option>
      <option value="b3">b3</option>
      <option value="b4">b4</option>
      <option value="b5">b5</option>
      <option value="c1">c1</option>
      <option value="c2">c2</option>
      <option value="c3">c3</option>
      <option value="c4">c4</option>
      <option value="c5">c5</option>
      <option value="d1">d1</option>
      <option value="d2">d2</option>
      <option value="d3">d3</option>
      <option value="d4">d4</option>
      <option value="d5">d5</option>
      <option value="e1">e1</option>
      <option value="e2">e2</option>
      <option value="e3">e3</option>
      <option value="e4">e4</option>
      <option value="e5">e5</option>
   </select><br />
   <label for="dest-square">Dest square:</label>
   <select id="dest-square" name="dest-square" size="1">
      <option value="a1">a1</option>
      <option value="a2">a2</option>
      <option value="a3">a3</option>
      <option value="a4">a4</option>
      <option value="a5">a5</option>
      <option value="b1">b1</option>
      <option value="b2">b2</option>
      <option value="b3">b3</option>
      <option value="b4">b4</option>
      <option value="b5">b5</option>
      <option value="c1">c1</option>
      <option value="c2">c2</option>
      <option value="c3">c3</option>
      <option value="c4">c4</option>
      <option value="c5">c5</option>
      <option value="d1">d1</option>
      <option value="d2">d2</option>
      <option value="d3">d3</option>
      <option value="d4">d4</option>
      <option value="d5">d5</option>
      <option value="e1">e1</option>
      <option value="e2">e2</option>
      <option value="e3">e3</option>
      <option value="e4">e4</option>
      <option value="e5">e5</option>
   </select><br />
   <label for="game-message-input"># of tacks:</label>
   <input id="game-message-input" type="text" size="20"><br />
   <input id="game-message-submit" type="button" value="Submit Order">
   <br>
   <textarea id="game-log" cols="20" rows="20"></textarea><br>
   {{ requesting_user|json_script:"requesting_user" }}
   {{ room_name|json_script:"room-name" }}

   {% load static %}
   <script src="{% static 'js/gameroom.js' %}" type="text/javascript"></script>
   <script src="{% static 'js/gameboard.js' %}" type="text/babel"></script>

{% endblock %}
